<div class="vacation">
  <div
    *ngFor="let item of vacationItems$ | async as vacationItems"
    class="vacation__item">
    <div class="vacation__subtitle">{{item.vacationType}}</div>
    <app-progress-circle
      [progressColor]="item.progressColor"
      [progressInnerColor]="item.progressInnerColor"
      [progressPercent]="(item.availableDays * 100) / item.totalDays"
      [rotatePerAngle]="item.anglesToRotate">
      <div class="vacation__item-label">Available</div>
      <div
        [style.color]="item.progressColor"
        class="vacation__item-title">{{item.availableDays}}</div>
      <div class="vacation__item-subtitle">of {{item.totalDays}} days</div>
    </app-progress-circle>
  </div>
</div>
